@import 'node_modules/bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Gilroy Regular';
  src:  url('fonts/gilroy-regular.ttf') format('ttf')
}
@font-face {
  font-family: 'Gilroy Medium';
  src:  url('fonts/gilroy-medium.ttf') format('ttf')
}
@font-face {
  font-family: 'Gilroy Thin';
  src:  url('fonts/gilroy-thin.ttf') format('ttf')
}
@font-face {
  font-family: 'Gilroy Bold';
  src:  url('fonts/gilroy-bold.ttf') format('ttf')
}
@font-face {
  font-family: 'Gilroy Light';
  src:  url('fonts/gilroy-light.ttf') format('ttf')
}

body {
  font-family: 'Gilroy Regular', sans-serif;
}

$rojo-poker: #c31f39;
$yellow-poker: #f1c743;
$grey-poker: #292727;

$gilroy-bold: 'Gilroy Bold', sans-serif;
$gilroy-light: 'Gilroy Light', sans-serif;

.header {
  .intro {
    background-color: $rojo-poker;
    height: 95vh;
    max-height: 95vh;
    margin: 1.2rem;
    border-top-left-radius: 58px; 
    border-bottom-right-radius: 58px; 
    background-image: url('../img/servida-3516.png');
    background-size: cover;
  }
  .logo-poker {
    margin-top: 1.2rem;
  }
  h4, h5, h6 {
    margin-bottom: 0;
    line-height: 0.75;
    font-family: $gilroy-bold;
    color: white;
  }
  h5 {
    color: $rojo-poker;
    font-size: 3.5rem;
  }
  h4 {
    font-size: 6rem;
  }
  .highlight-text {
    margin-top: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
    line-height: 0.9;
  }
  .red {
    color: $rojo-poker;
  }
  .cta {
    z-index: 100;
  }
  .cta-icon {
    margin-top: 10vh;
    background: url('../img/cta-scroll.png') center no-repeat;
  }
  @keyframes fadeInDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .fadeInDown {
      -webkit-animation-name: fadeInDown;
      animation-name: fadeInDown;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 85;
  }
}

.figures {
  height: 80vh;
  max-height: 80vh;
  background-color: $rojo-poker;
  background-image: url('../img/bg-figures.png');
  background-size: cover;
  .fig-title {
    margin-top: 2.4rem;
  }
  h3, h4 {
    color: white;
    font-family: $gilroy-bold;
    line-height: 0.75;
  }
  h3 {
    font-size: 3.2rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    color: white;
    font-size: 1.2rem;
  }
  .items {
    margin-top: 2.4rem;
    .item {
      margin-bottom: 1.2rem;
    }
  }
  .yellow-text {
    color: $yellow-poker;
    font-family: $gilroy-bold;
  }
  .store {
    position: relative;
    left: -7vw;
  }
  .bottle {
    position: relative;
    top: -100vh;
  }
}
.meter {
  margin-top: 1.2rem;
  height: 15vh;
  background-color: $grey-poker;
  background-image: url('../img/bg-meter.png');
  .headline{
    margin-top: 1.2rem;
  }
  h5 {
    font-family: $gilroy-light;
    color: $rojo-poker;
    line-height: 0.75;
  }
  .bold {
    font-family: $gilroy-bold;
  }
  .numbers::before {
    content: url('../img/pica.png');
  }
  .numbers::after {
    content: url('../img/pica.png');
    transform: rotate(180deg);
  }
}


