@import 'node_modules/bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Gilroy Regular';
  src:  url('fonts/gilroy-regular.ttf') format('ttf'),
        url('fonts/gilroy-regular-webfont.woff') format('woff'),
        url('fonts/gilroy-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy Medium';
  src:  url('fonts/gilroy-medium.ttf') format('ttf'),
        url('fonts/gilroy-medium-webfont.woff') format('woff'),
        url('fonts/gilroy-medium-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy Thin';
  src:  url('fonts/gilroy-thin.ttf') format('ttf'),
        url('fonts/gilroy-thin-webfont.woff') format('woff'),
        url('fonts/gilroy-thin-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy Bold';
  src:  url('fonts/gilroy-bold.ttf') format('ttf'),
        url('fonts/gilroy-bold-webfont.woff') format('woff'),
        url('fonts/gilroy-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Gilroy Light';
  src:  url('fonts/gilroy-light.ttf') format('ttf'),
        url('fonts/gilroy-light-webfont.woff') format('woff'),
        url('fonts/gilroy-light-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Gilroy Regular', sans-serif;
}

$rojo-poker: #c31f39;
$yellow-poker: #f1c743;
$grey-poker: #292727;

$gilroy-bold: 'Gilroy Bold', sans-serif;
$gilroy-light: 'Gilroy Light', sans-serif;
$gilroy-thin: 'Gilroy Thin', sans-serif;

.wrapper {
  height: 248vh;
  overflow-y: hidden;
}

.header {
  .intro {
    background-color: $rojo-poker;
    height: 95vh;
    max-height: 95vh;
    margin: 1.2rem;
    border-top-left-radius: 58px; 
    border-bottom-right-radius: 58px; 
    background-image: url('../img/servida-3516.png');
    background-size: cover;
  }
  .logo-poker {
    margin-top: 1.2rem;
  }
  h4, h5, h6 {
    margin-bottom: 0;
    line-height: 0.75;
    font-family: $gilroy-bold;
    color: white;
  }
  h5 {
    color: $rojo-poker;
    font-size: 3.5rem;
  }
  h4 {
    font-size: 6rem;
  }
  .highlight-text,
  .highlight-text-2 {
    margin-top: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
    line-height: 0.9;
  }
  .red {
    color: $rojo-poker;
  }
  
  .cta-icon {
    margin-top: 10vh;
    background: url('../img/cta-scroll.png') center no-repeat;
  }
  @keyframes fadeInDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .fadeInDown {
      -webkit-animation-name: fadeInDown;
      animation-name: fadeInDown;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 85;
  }
}

.figures {
  height: 80vh;
  max-height: 80vh;
  background-color: $rojo-poker;
  background-image: url('../img/bg-figures.png');
  background-size: cover;
  z-index: 500;
  .fig-title {
    margin-top: 2.4rem;
  }
  h3, h4 {
    color: white;
    font-family: $gilroy-bold;
    line-height: 0.75;
  }
  h3 {
    font-size: 3.2rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    color: white;
    font-size: 1.2rem;
  }
  .items {
    margin-top: 2.4rem;
    .item {
      margin-bottom: 1.2rem;
    }
  }
  .yellow-text {
    color: $yellow-poker;
    font-family: $gilroy-bold;
  }
  .store {
    position: relative;
    left: -7vw;
  }
  .bottle {
    position: relative;
    top: -95vh;
    left: -20vw;
  }
}
.meter {
  margin-top: 1.2rem;
  height: 14vh;
  background-color: $grey-poker;
  background-image: url('../img/bg-meter.png');
  .headline{
    margin-top: 0.8rem;
  }
  h5 {
    font-family: $gilroy-light;
    color: $rojo-poker;
    line-height: 1;
  }
  strong {
    font-family: $gilroy-bold;
  }
  .numbers {
    background: url('../img/picas.png') center center no-repeat;
    background-size: contain;
    span {
      padding: 0 0.8rem;
      font-family: $gilroy-thin;
      font-size: 3rem;
      color: white;
      line-height: 0.8;
    }
    .red {
      color: $rojo-poker;
    }
  }
}
.ready {
  margin-top: 1.2rem;
  height: 50vh;
  background-color: $grey-poker;
  background-image: url('../img/bg-ready.png');
  padding-top: 1.2rem;
  h3 {
    font-family: $gilroy-bold;
    font-size: 3rem;
    color: $rojo-poker;
  }
  .input-container {
    margin-top: 1.2rem;
    h3, h6 {
      line-height: 0.7;
    }
    p {
      margin-top: 3.6rem;
      font-size: 1.2rem;
      color: white;
    }
    .first-input {
      float: left;
      width: 103px;
      height: 41px;
      border: 2px solid $yellow-poker;
      border-top-left-radius: 20px; 
      border-bottom-left-radius: 20px; 
      span {
        padding-left: 1.5rem;
        color: white;
        font-size: 1.4rem;
      }
      span::after {
        position: relative;
        top: 3px;
        margin: 0.2rem;
        content: url('../img/pack.png');
      }
    }
    img {
      padding-top: 0 !important;
    }
    .last-input input {
      background-color: $grey-poker;
      width: 147px;
      height: 41px;
      border: 2px solid $yellow-poker;
      border-top-right-radius: 20px; 
      border-bottom-right-radius: 20px;
      padding-left: 1.5rem;
      color: white;
      font-size: 1.4rem;
    }
    .disclaimer {
      margin-top: 1rem;
      padding-left: 50%;
      span {
        text-align: right;
        color: white;
        font-size: 0.8rem;
      }
    }
    .submit {
      margin-top: 1.2rem;
      .btn {
        border-radius: 1.25rem;
      }
      .btn-warning {
        background-color: $yellow-poker;
      }
    }
  }
  h6 {
    font-family: $gilroy-light;
    font-size: 1.5rem;
    color: white;
    strong {
      font-family: $gilroy-bold;
    }
  }
  img {
    padding-top: 2.4rem;
  }
}

@include media-breakpoint-up(sm) {
  .wrapper {
    height: 189vh;
  }

  .header {
    .intro {
      margin: 1.2rem;
      border-top-left-radius: 45px; 
      border-bottom-right-radius: 45px; 
      background-image: url('../img/Fondo-header.png');
      background-size: cover;
    }
    .logo-poker {
      margin-top: 2.4rem;
      padding-right: 2.4rem;
    }
    .texts {
      position: relative;
      top: -4rem;
    }
    h4, h5, h6 {
      margin-bottom: 0;
      line-height: 0.75;
      font-family: $gilroy-bold;
      color: white;
    }
    h5 {
      color: $rojo-poker;
      font-size: 6rem;
    }
    h4 {
      font-size: 12rem;
    }
    .highlight-text {
      margin-top: 0;
    }
    .highlight-text-2 {
      margin-top: 4rem;
    }
    h6 {
      font-size: 2rem;
      line-height: 0.9;
    }
    .cta-icon {
      margin-top: 2vh;
    }
  }
  .meter {
    margin-top: 2rem;
    height: 14vh;
    .headline{
      margin-top: 1rem;
    }
    .numbers {
      span {
        padding: 0 2rem;
        font-size: 5rem;
      }
    }
  }
  .figures {
    margin-top: 1.2rem;
    height: 70vh;
    max-height: 70vh;
    .stamp {
      position: relative;
      top: 10vh;
      right: 5vw;
    }
    .fig-title {
      margin-top: 4rem;
    }
    h3, h4 {
      color: white;
      font-family: $gilroy-bold;
      line-height: 0.75;
    }
    h3 {
      font-size: 4rem;
    }
    
    .items {
      margin-top: 2.4rem;
      .item {
        margin-bottom: 1.2rem;
      }
    }
    .yellow-text {
      color: $yellow-poker;
      font-family: $gilroy-bold;
    }
    .store {
      left: 0;
    }
    .icon {
      position: relative;
      left: 2vw;
    }
    .bottle {
      position: relative;
      top: -125vh;
      left: 0;
    }
  }
  .ready {
    margin-top: 1.2rem;
    height: 70vh;
    background-color: $grey-poker;
    background-image: url('../img/bg-ready.png');
    padding-top: 1.2rem;
    .input-container {

    }
    .ready-text {
      margin-top: 10vh;
    }
    h3 {
      font-family: $gilroy-bold;
      font-size: 3rem;
      color: $rojo-poker;
    }
    h6 {
      font-family: $gilroy-light;
      font-size: 1.5rem;
      color: white;
      strong {
        font-family: $gilroy-bold;
      }
    }
    img {
      padding-top: 2.4rem;
    }
  }
}


